@import "tailwindcss";

@theme {
  --color-fg: var(--fg);
  --color-bg: var(--bg);
}

:root {
  --bg: #ffffff;
  --fg: #000000;
}

[data-theme='dark'] {
  --bg: #000000;
  --fg: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background: var(--bg);
  color: var(--fg);
  transition: 0.4s;
}

@layer base {
  button {
    border: none;
    cursor: pointer;
  }
}

@keyframes loop {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
